/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
html {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  background-image: linear-gradient(
    90deg,
    rgba(223, 62, 33, 0.5) 5%,
    rgba(217, 240, 11, 0.35)
  );
  font-family: "Xanh Mono", monospace;

  line-height: 2;

  letter-spacing: 0.5em;
}

main {
  display: flex;
  justify-content: center;
  margin: 18px 25px;
  padding: 55px 0 0 0;
  color: #000;
}
.intro {
  text-align: center;
}

.title {
  display: flex;
  justify-content: center;
  margin: 18px 25px;
  padding: 55px 0 0 0;
  color: #000;
}

.statue,
.score {
  text-align: left;
}

.next-button,
.reset-btn {
  margin: 0 auto;
  display: flex;
}

.start-btn {
  margin: auto;
  padding: 8px 16px;
  display: flex;
  justify-content: center;
}

.submit-btn {
  margin: 30px 0;
  padding: 8px;
}

.questions {
  border: 1px solid black;
  margin: auto;
  padding: 0 20px;
  text-align: left;
  justify-content: center;
}

h3 {
  margin: auto;
  padding: 1px 3px;
  display: flex;
}

.correctAnswer {
  margin: 10px;
  padding: 10px;
  border: 1px solid green;
}

.wrongAnswer {
  margin: 10px;
  padding: 10px;
  border: 1px solid red;
}

@media (min-width: 700px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  .container {
    float: left;
  }

  .container:nth-child {
    margin-right: 6%;
  }
}
